<form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <p class="error" *ngIf="error">{{error}}</p>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="email" [(ngModel)]="loginData.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" [(ngModel)]="loginData.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" (click)="loginUser()" type="submit">Sign in</button>
    <!-- <p class="text-center">Login with your social media account</p>
    <div class="text-center social-btn">
        <a class="btn btn-primary"><i class="fa fa-facebook" (click)="fbLogin()"></i>&nbsp; Facebook</a>
        <a href="#" class="btn btn-info"><i class="fa fa-twitter"></i>&nbsp; Twitter</a>
        <a href="#" class="btn btn-danger"><i class="fa fa-google"></i>&nbsp; Google</a>
    </div> -->
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    sample1 <input type="text" #data>
    <button (click)='senddata(data)' type="submit">click</button><br/>
    <!-- sample2 <input type="text">
    <button (input)='senddata2($event)' type="submit">click</button> -->

</form>